/* Adapted from: http://callmenick.com/post/css-toggle-switch-examples */

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.toggle-round-flat + label {
  /* width = 2*height or 2*border-radius */
  padding: 2px;
  width: 90px;
  height: 45px;
  border: 3px solid #dddddd;
  border-radius: 45px;
  transition: border-color 0.4s;
}

input.toggle-round-flat + label:before,
input.toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.toggle-round-flat + label:after {
  /* width = 2*border-radius */
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 32px;
  background-color: #dddddd;
  border-radius: 16px;
  transition: margin 0.4s, background 0.4s;
}

input.toggle-round-flat:checked + label {
/*    border-color: gold;*/
  border-color: #8ce196;
}

input.toggle-round-flat:checked + label:after {
  /* margin-left = border-radius from 'input.toggle-round-flat + label' */
  margin-left: 45px;
/*  background-color: gold;*/
  background-color: #8ce196;
}






/* Add Car Button */
.button {
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #EEE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 100%;
  width: 100%;
  line-height: 46px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 34px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  color: #666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
.button:hover, .button:focus, .button:active, .button.is-active, .button.active {
    text-decoration: none;
}
.button:hover, .button:focus {
    color: #666;
    background-color: #EEE;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}
.button:active, .button.is-active, .button.active {
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb;
}
.button:focus {
    outline: none;
}

input.button, button.button {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none;
}
.button-border-primary {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: gold;
  border: 2px solid gold;
  background: none;
  text-shadow: none;
}
.button-border-primary:hover, .button-border-primary:focus {
/*    background: none;*/
    background: rgba(254, 254, 0, .2);
    color: #fefe00;
    border: 2px solid #fefe00;
}
.button-border-primary:active, .button-border-primary.is-active, .button-border-primary.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: grey;
    border: 2px solid grey;
  }
.button-border-primary.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}

.button-rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
