/* Dash Style */
#featuredCarsTitleWrapper, #newCarsTitleWrapper {
    margin-left: 10%;
    margin-right: 25%;
    text-align: left;
    display: inline-block;
    /* margin-bottom: 1%;*/
    /* min-width: 3em !important; */
    /* width: 15%; */
    /* max-width: 30%; */
}

#featuredCarsTitle, #newCarsTitle {
    width: 180%;
    margin-top: 1.0em;
    /* text-align: center; */
    /* position: relative; */
}

#newCarsTitle {
    margin-top: 2em;
}

.carList {
    margin-left: 8%;
}

.carWrapper {
    width: 20%;
    height: 30%;
    margin-top: 2%;
    margin-left: 2%;
    border: 1px solid grey;
    float: left;
}
.carWrapper:hover {
    border: 1px solid gold;
}

#carPic {
    width: 100%;
    height: 100%;
    content: url("/images/Maserati_Alfieri_left.jpg") no-repeat scroll center top transparent;
}

.carName {
    text-align: center;
}

.carWrapper.custC {
  min-height: 200px;
  height: 25vh;
  background-repeat: round !important;
  position: relative;
}

 span.car_title {
    /* vertical-align: bottom; */
    /* display: table-row; */
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}