@import url(http://fonts.googleapis.com/css?family=Quicksand:300);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px black inset; /* Change the color to your own background color */
    -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px black inset;
    -webkit-text-fill-color: white;
}

html {
    background: url("../images/mustang.jpg") no-repeat scroll center top transparent;
    background-color: aqua;
    height: 500px;
    background-size: 1400px;
    background-color: #000000;
    
    color: #FFFFFF;
    font-family: "Quicksand", "Julius Sans One", serif;
}

.name {
    font-weight: 100;
    font-size: 40pt;
    margin-top: 30%;
    text-align: center;
    letter-spacing: 10px;
    
    /* animation: mymove 5s infinite; */
}

a:link, a:visited, a:hover, a:active {
/*    margin: 0em 25px;*/
    
color: #B0B0B0;
    text-decoration: none;
font-weight: bold;
}

/* Gives the buttons a little on-click effect */
/*
a:hover {
    border: 1px solid grey;
}
a:active {
    background-color: grey;
}
*/

/* Aligns the main group vertically */
div.mainWrapper {
    position: fixed;
    width: 341px;

    height:100%;
    left: 50%;
    top: 0%;
    margin-left: -170px;
}

/* The main structure of the website. Everything aligns with this. */
div.main {
    text-align: center;
    width: 341px;
    max-width: 341px;
}

/* The style for the views that change (Login, Search, Sign up) */
.views {
    /*width: 550px; /* or whatever width you want. */
    height: 600px;
    /*max-width: 550px; /* or whatever width you want. */
    max-height: 530px;
    display: inline-block;
}


/* Sizes the tables to line up with the name of the company */
table {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
td {
    width:170px;
}
td.left {
    text-align: left;
}
td.right {
    text-align: right;
}

td.center {
    text-align: center;
}

@-webkit-keyframes blackToWhite {
    from {background-color: inherit;
          color: inherit;
         }
    to {background-color: #969696;
        color: black;
       }
}

@keyframes blackToWhite {
    from {background-color: inherit;
          color: inherit;
         }
    to {background-color: #969696;
        color: black;
       }
}

table.searchTable td:hover, table.searchTable td:hover a {
    color: black;
}

table.searchTable td:hover {
    background-color: #969696;
    -webkit-animation-name: blackToWhite;
    -webkit-animation-duration: 1s;
    animation-name: blackToWhite;
    animation-duration: 1s;
}

@-webkit-keyframes whiteToBlack {
    from {background-color: #969696;
          color: black;
         }
    to {background-color: inherit;
        color: inherit;
       }
}

@keyframes whiteToBlack {
    from {background-color: #969696;
          color: black;
         }
    to {background-color: inherit;
        color: inherit;
       }
}
/*
Having problems preventing this from firing on page load
table.searchTable td {
    color: inherit;

    -webkit-animation-name: whiteToBlack;
    -webkit-animation-duration: 1s;
    animation-name: whiteToBlack;
    animation-duration: 1s;
}
*/
table.searchTable td {
    background-color: inherit;
    border-radius: 2px;
}


table.searchTable {
  background-color: rgba(245, 245, 245, 0.09);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;

}

/* Custom Input Fields, also line up with the name of the company */
input[type=text], input[type=password] {
    font-family: "Julius Sans One";
    font-size: 12pt;
    color: #A9A9A9;
    text-align: center;
    
    height: 25px;
    width: 339px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: gold;
    outline:0;  
}

/* Custom Selection Color*/
::-moz-selection {
    background: gold; 
	text-shadow: none; 
}
::selection {
    background: gold; 
    text-shadow: none; 
}

/* Manage Accounts Style */
#pageDescriptionWrapper {
/*    width:32%;*/
/*    margin-left: 10%;*/
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
}

#pageDescription {
    text-align: center;
    position: relative;
    width: 100%;
/*    text-decoration: underline;*/
/*    text-decoration: underline;*/
/*    text-decoration-color: gold;*/
}

#accountsTable {
    font-size: 23px;
    border-collapse: collapse;
}
#accountsTable td {
    padding: 1% 0%;
}

/* End Manage Accounts Style */

.underline {
    border-bottom: 1px solid gold;
}

#add_car_submit_wrapper {
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
/*    display: block;*/
    height: 50px;
    
    text-align: center;
    font-size: 34px;
}

#login_buttom_wrapper {
    width: 100%;
    
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    
    height: 50px;
    
    text-align: center;
    font-size: 24px;
    line-height: 0px;
}

/*                                                                                           
.expand {                                                                                    
    letter-spacing: 2px;                                                                     
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera *//*                     
    animation: mymove 5s infinite;                                                           
}                                                                                            
                                                                                             
/* Chrome, Safari, Opera *//*                                                                
@-webkit-keyframes mymove {                                                                  
    50% {letter-spacing: 50px;}                                                              
}                                                                                            
                                                                                             
/* Standard syntax *//*                                                                      
@keyframes mymove {                                                                          
    50% {letter-spacing: 50px;}                                                              
}                                                                                            
*/
